@charset "UTF-8";

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    padding: 2px;
    background-color: black;
    color: white;
    text-align: center;
}

h1 {

}

h3 > a {
    text-decoration: none;
    color: white;
    font-style: italic;
}
h3 > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    color: black;

    
}

.p1 {
    background-image: url(./imagens/background002.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    font-size: 3em;
    color: white;
    padding: 10px 10px 10px 30px;
    line-height: 60px;
}

.p2 {
    background-image: url(./imagens/background001.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: white;
    font-size: 3em;
    padding: 10px 10px 10px 30px;
    line-height: 60px;
}

.quadro1 {
    background-color: rgba(0, 0, 0, 0.388);
    width: 600px;
    padding: 40px 10px;
}

.quadro {
    background-color: transparent;
    width: 600px;
    padding: 40px 10px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: -20px;
    margin-bottom: -20px;
}

footer > a {
    text-decoration: none;
    color: white;
    text-decoration: underline;
}
footer > a:hover {
    color: black;
    background-color: white;
    padding-right: 2px;
    font-size: 1.2em;

}